<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiayang.crud.dao.departmentDao">

    <insert id="save">
        insert into department(name)value(#{name})
    </insert>

    <select id="getDepartmentById" resultType="com.jiayang.crud.pojo.department">
        select id,name from department where id = #{id}
    </select>

    <select id="getAllDep" resultType="com.jiayang.crud.pojo.department">
        select * from department
    </select>

    <delete id="deleteDepById">
        delete from department where id = #{id}
    </delete>

    <update id="updateDep">
        update department set name = #{name} where id = #{id}
    </update>

    <select id="getNameCount" resultType="java.lang.Integer">
        select count(*) from department where name = #{name}
    </select>

    <select id="getDepsByLikeName" resultType="department">
        select * from department where name like #{name}
    </select>


</mapper>